.input-group{
    position: relative;
    .title{ 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

    }
    .input-field{
        border: 1px solid lightgray;
        width: 100%;
        box-sizing: border-box;
        border-radius: 8px;
        display: block;
        outline: none;
        margin-bottom: 10px;
        margin-top: 10px;
        direction: rtl;
        padding:8px ;
        &:focus{
            border: 1px solid rgb(160, 159, 159);

        }

    }

}
