table {
    width: 90%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
  }
  
  th {
    border-bottom:  1px solid #000;
  }
  
  td {
    width: 20%;
    padding-bottom: 5px;
    border-bottom:  1px dashed #000;


  }
  td.content ,th.content{
    width: 60%
  }
  