.input-group{
  height: 80px;
    width: 300px;
  display: flex;
  flex-direction: column;
    &__element{
        width: 100%;
        border: 1px solid #000;
        border-radius: 8px;
        padding:5px;
        margin-top: 10px;
        outline: none;
        text-align: right;
        box-sizing: border-box;
    }
    &__label{
        font-size: 16px;
        align-self: right;
    }
    &__message{
        font-size: 10px;
        align-self:right ;
    }

}
.text-error{
    font-size: 10px;
    color: red;
}
.border-error{
    border: 1px solid red;    

}

.border-success{
    border: 1px solid #C4D7B2;
}
.form-btn{
    margin: auto;
    padding: 5px 7px;
    border-radius: 5px;
    border: none;
    border: 1px solid darkblue;
    color:darkblue ;
    background-color: white;
    font-size: 14px;
    &:hover{
        background-color:darkblue;
        color:white
    }
}
.form-btn-success{
    margin: 5px;
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    color: #1f6f7e;
    border: 1px solid #1f6f7e;
    background-color: white;
    &:hover{
        color: white;
        background-color:#1f6f7e
    
        }
}
.form-btn-danger{
    margin: 5px;
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    color: #7e1f1f;
    border: 1px solid #7e1f1f;
    background-color: white;
    &:hover{
    color: white;
    background-color:#7e1f1f

    }
}
.add-btn{
    display: flex;
    font-size: 16px;
    flex-direction:row;
    padding: 7px;
    border-radius:7px ;
    border: 1px solid darkblue;
    color:darkblue ;
    background-color: transparent;
    align-self: flex-end;
    margin-right: 5%;
    &:hover{
        background-color:darkblue;
        color:white
    }
}
